@model IEnumerable<GestordeTaras.EN.Categoria>

@{
    ViewData["Title"] = "Index";

    int numPage = 1;
    int numRegistros = 0;
    int numRegistroPorPage = 10;
    int[] tops = { 10, 20, 50, 100, 500, 1000, 10000, -1 };
    int topActual = Convert.ToInt32(ViewBag.Top);
}

<h1>Listado de Categorías</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Index">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Nombre</label>
                        <input type="text" class="form-control" name="Nombre" />
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Top</label>
                        <select name="Top_Aux" class="form-control">
                            @foreach (var item in tops)
                            {
                                string strItem = item != -1 ? item.ToString() : "Todos";
                                if (item != topActual)
                                {
                                    <option value="@item">@strItem</option>
                                }
                                else
                                {
                                    <option selected value="@item">@strItem</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4 m-2">
                <input type="submit" value="Buscar" class="btn btn-outline-info" /> &nbsp;&nbsp;
                <a asp-action="Create" class="btn btn-outline-primary">Nueva categoría</a>
            </div>
        </form>
    </div>
</div>

<table class="table table-responsive table-striped paginationjs">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
            </tr>
            numRegistros++;
            if (numRegistros == numRegistroPorPage)
            {
                numPage++;
                numRegistros = 0;
            }
        }
    </tbody>
</table>

<div>
    <a asp-action="Create" class="btn btn-primary">Crear nueva Categoria</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>
                    <button class="btn btn-primary btn-sm" onclick="abrirModalEditar(@item.Id)">
                        <i class="fas fa-edit"></i> Editar
                    </button>
                    <button class="btn btn-info btn-sm" onclick="abrirModalDetalles(@item.Id)">
                        <i class="fas fa-eye"></i> Detalles
                    </button>
                    <button class="btn btn-danger btn-sm" onclick="abrirModalEliminar(@item.Id)">
                        <i class="fas fa-trash-alt"></i> Eliminar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (numPage > 1)
{
    <div class="row" style="overflow:auto">
        <div class="col-md-12">
            <ul class="pagination paginationjs" data-numpage="@numPage" data-pageactive="1">
                <li class="page-item" data-typepage="Previous"><a class="page-link" href="#">Previous</a></li>
                @for (var i = 1; i <= numPage; i++)
                {
                    <li class="page-item" data-page="@i" data-typepage="Item"><a class="page-link" href="#">@i</a></li>
                }
                <li class="page-item" data-typepage="Next"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
}

@section Scripts {
    <script>
        function abrirModalEditar(id) {
            $('#modalEditarCategoria').modal('show');
        }

        function abrirModalDetalles(id) {
            $('#modalDetallesCategoria').modal('show');
        }

        function abrirModalEliminar(id) {
            $('#modalEliminarCategoria').modal('show');
        }
    </script>
}
