@model GestordeTaras.EN.Prioridad

<<<<<<< HEAD

<div class="modal fade" id="eliminarPrioridadModal" tabindex="-1" role="dialog" aria-labelledby="modalEliminarPrioridadLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarPrioridadLabel">Eliminar Prioridad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>¿Seguro que desea eliminar la prioridad?</h3>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
=======
>>>>>>> parent of 53545a3 (hi)
@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Prioridad</h1>

<h3>¿Seguro que desea eliminar la prioridad?</h3>
<div>
    <h4>Prioridad</h4>
    <hr />
    <dl class="row">
<<<<<<< HEAD
zzz
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning btn-sm">Atras</a>
    </form>


        <dt> class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd> class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt> class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd> class="col-sm-10">
=======
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
>>>>>>> parent of 53545a3 (hi)
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>


    <form asp-action="Delete">
        <input type="hidden" asp-asp="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista</a>
    </form>
<<<<<<< HEAD

=======
>>>>>>> parent of 53545a3 (hi)
</div>
