@model IEnumerable<GestordeTaras.EN.Cargo>

@{
    ViewData["Title"] = "Lista de Cargos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cargos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">
        <i class="fas fa-plus"></i> Crear Nuevo Cargo
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                        <i class="fas fa-edit"></i> Editar
                    </a>

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">
                        <i class="fas fa-eye"></i> Detalles
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
